<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Neon Genny API</h1>
    <ul class="characters">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="character">
            <span><%= info[i].name %></span>
            <span><%= info[i].birthName %></span>
            <span><%= info[i].likes %></span>
            <!--<span class='fa fa-thumbs-up'></span>-->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add a character:</h2>

    <form action="/addCharacter" method="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Age" name="age">
        <input type="text" placeholder="Date of birth" name="dateOfBirth">
        <input type="text" placeholder="Height in cm" name="height">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Quote" name="quote">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
