<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <div class="wrapper">
        <img src="./assets/nerv_only.png">
        <h1>Personel File Access</h1>
        <form class="login" action="/addCharacter" method="POST">
            <input class ="input" type="text" name="name">
        </form>
        <input class ="submit" type="submit" value="Search">
        <img class="top_secret" src="./assets/top_secret.png">
    </div>
    <!-- <div class="top">
        <img src="./assets/nerv_only.png">
    </div> -->
</body>
</html>